<div class="center jumbotron main_header font_col">
  
    <h1>Welcome to CarServIt!</h1>
    <p></p>
    
    <h2>YOUR WORKSHOP RESERVATION MANAGER</h2>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    
    <p></p>
    <p></p>
</div>